<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>

    <body> 
        <header>

            <% if (userData.loggedIn) { %>

                <%- include('./partials/header-logged-in'); %>

            <%  } else { %>

                <%- include('./partials/header-logged-out'); %>

            <%  } %>

        </header>
        <div class="sub-header"></div>

        <div class="flex-container">
            <div class="confirmation-container">
                <p class="confirmation-msg"> <%= msg.msg %> </p>
                <p class="account-link">Go to <a href="/account">My Account</a> to view your order history</p>
                <p class="products-link">Or <a href="/products">continue shopping</a></p>
            </div>
        </div>
          
        
        <script src="/js/dropdown.js" type="text/javascript"></script>  
    </body>
  </html>